<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>SelfLearn</title>
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{%static 'learn.css' %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
    </head>

    <body>
        {% csrf_token %}
        <div class="details">
            <h3>Self Learning modules develop Projects & Think innovative</h3>
        </div>
        <div class="Heading">
            <h3>This platform enables you to Learn the Technologies</h3>
        </div>
       
        <h2>Domains are</h2>
        <div class="container-cards">
            <div class="card">
                <div class="card-image card-1"></div>
                <h2>Full-Stack development</h2>
                <p>Built web apps</p>
                <p>A full-stack developer typically has expertise in multiple
                    programming languages HTML, CSS, JavaScript, and server-side
                    languages like Pythonor Java.Full-stack development refers
                    to the practice of designing, building, and maintaining all
                    components of a web application or software system,
                    including both the frontend and backend. </p>
                <a href="#full-stack">Explore</a>
            </div>
            <div class="card">
                <div class="card-image card-2"></div>
                <h2>cybersecurity&Ethical hacking</h2>
                <p>Learn how to protect the Data</p>
                <p>This domain involves protecting computer systems, networks,
                    and data from unauthorized access, theft, or damage.
                    Cybersecurity professionals use a variety of tools and
                    techniques to identify and prevent cyber attacks, such as
                    firewalls, encryption, intrusion detection, and
                    vulnerability assessment.</p>
                <a href="#cybersecurity">Explore</a>
            </div>
            <div class="card">
                <div class="card-image card-3"></div>
                <h2>Artificial Intelligence</h2>
                <p>Student Activity Club</p>
                <p>Artificial intelligence (AI) is a broad field of computer
                    science focused on developing systems that can perform tasks
                    that would typically require human intelligence, such as
                    learning, reasoning, problem-solving, perception, and
                    natural language understanding.</p>
                <a href="#artificial intelligence">Explore</a>
            </div>
            <div class="card">
                <div class="card-image card-4"></div>
                <h2>Machine Learning</h2>
                <p>Built web apps</p>
                <p>Machine learning is a subfield of artificial intelligence
                    that focuses on developing algorithms and models that can
                    automatically improve their performance on a particular task
                    by learning from data. In other words, instead of being
                    explicitly programmed to perform a specific task. </p>
                <a href="#ml">Explore</a>
            </div>
            <div class="card">
                <div class="card-image card-5"></div>
                <h2>Robotics</h2>
                <p>Explore and self-learn</p>
                <p>Robotics is a field of study and engineering that is
                    concerned with the design, development, and operation of
                    robots. Robots are machines that can perform tasks
                    autonomously or semi-autonomously, typically involving some
                    degree of interaction with the physical environment.</p>
                <a href="#robotics">Explore</a>
            </div>
            <div class="card">
                <div class="card-image card-6"></div>
                <h2>Datascience</h2>
                <p>Student Activity Club</p>
                <p>This domain involves using statistical and computational
                    methods to extract insights and knowledge from data,
                    including big data. Data scientists work with a variety of
                    tools and techniques,such as machine learning, data mining,
                    and data visualization</p>
                <a href="#datascience">Explore</a>
            </div>
        </div>
        <br>
         <h2 class="approach_link">Approach links</h2>
         <a href="#links" class="approach">Explore</a>
        
        <div class="fullstack" id="full-stack">
        <h1>Full-Stack</h1>
        <p>Frontend Development: This involves designing and building the user
            interface and user experience (UI/UX) of a web application, using
            technologies such as HTML, CSS, and JavaScript. Frontend developers
            may use libraries and frameworks such as React, Angular, or Vue.js
            to build interactive and responsive web interfaces.<br><br>

            Backend Development: This involves designing and building the
            server-side components of a web application, including the database
            and application logic, using technologies such as Node.js, Python,
            Ruby, or Java. Backend developers may use frameworks such as
            Express, Django, or Ruby on Rails to build scalable and maintainable
            web applications.<br><br>

            Database Management: This involves designing and maintaining the
            database that stores and manages the data used by a web application.
            Full-stack developers may use databases such as MySQL, MongoDB, or
            PostgreSQL.<br><br>

            DevOps: This involves deploying and maintaining the web application,
            including setting up the server environment, configuring security,
            and monitoring performance. Full-stack developers may use tools such
            as Docker, Kubernetes, or Jenkins to automate the deployment
            process.</p>
            </div>
            



        <div class="cybersecurity" id="cybersecurity">
            <h1>Cybersecurity</h1>
            <p>Cybersecurity is the practice of protecting computer systems,
                networks, and sensitive information from unauthorized access,
                theft, damage, or any other form of malicious activity. The
                field of cybersecurity encompasses a wide range of technologies,
                practices, and policies that work together to prevent, detect,
                and respond to cyber threats.

                With the increasing use of the internet and connected devices,
                cybersecurity has become more critical than ever. Cyber threats
                can take many forms, such as phishing attacks, malware,
                ransomware, denial of service attacks, and social engineering,
                among others. These threats can cause significant harm to
                individuals, organizations, and entire nations.

                To combat cyber threats, cybersecurity professionals use a
                variety of tools and techniques, such as firewalls, intrusion
                detection systems, encryption, access control, and vulnerability
                assessments. They also develop and enforce policies and
                procedures to ensure the security of systems and information.
            Network security: This involves protecting networks from
            unauthorized access, malware, and other threats.<br><br>

            Application security: This involves securing software and
            applications from vulnerabilities and attacks.<br><br>

            Cloud security: This involves securing data and applications that
            are stored in the cloud.<br><br>

            Information security: This involves protecting sensitive information
            from unauthorized access or disclosure.<br><br>

            Disaster recovery and business continuity: This involves planning
            and implementing procedures to ensure that systems can be restored
            quickly after a disaster or other disruptive event.<br><br>
        </p>
        </div>

        <div class="artificial_intelligence" id="artificial intelligence">
            <h1>Artificial Intelligence</h1>
            <p>Artificial Intelligence (AI) is the simulation of human
                intelligence
                processes by machines, especially computer systems. AI systems
                are
                designed to perform tasks that usually require human-like
                intelligence, such as perception, reasoning, learning,
                decision-making, and natural language processing.</p>

            <p>AI systems are trained on large datasets to recognize patterns,
                classify information, and make predictions based on the data.
                They can be categorized into several types based on their
                functionality and applications:

                Rule-based systems: These systems are programmed to follow a set
                of rules to make decisions or take actions.<br><br>

                Machine learning systems: These systems use algorithms and
                statistical models to learn from data and make predictions or
                decisions based on the learned patterns.<br><br>

                Deep learning systems: These systems use neural networks with
                multiple layers to process complex data and perform
                sophisticated tasks like image recognition and natural language
                processing.<br><br>

                Natural language processing systems: These systems enable
                computers to understand and respond to human language.

                AI has a wide range of applications, including:<br><br>
                1.Robotics: AI is used to develop autonomous robots that can
                perform complex tasks like manufacturing, mining, and space
                exploration.<br><br>

                2.Healthcare: AI is used to develop systems that can diagnose
                diseases, analyze medical images, and assist in surgeries.<br><br>
                3.Finance: AI is used in fraud detection, algorithmic trading,
                and risk management.<br><br>

                4.Transportation: AI is used to develop self-driving cars and
                optimize traffic flow.<br><br>

                5.ustomer service: AI is used to develop chatbots and virtual
                assistants that can interact with customers and provide
                assistance.<br><br>

                While AI has many benefits, there are also concerns about its
                potential risks and unintended consequences. For example, there
                are concerns about AI systems making biased decisions based on
                the data they were trained on, and the potential impact of AI on
                employment and privacy. As such, it is important for AI systems
                to be developed and used responsibly, with consideration of
                ethical and social implications.</p>
        </div>


        <div class="ml" id="ml">
            <h1>Machine Learning</h1>
            <p>Machine learning is a type of artificial intelligence that
                enables computers to learn from data and improve their
                performance without being explicitly programmed. In other words,
                machine learning algorithms allow computers to automatically
                identify patterns in data and use those patterns to make
                predictions or decisions.<br><br>

                Machine learning can be divided into three main categories:
                supervised learning, unsupervised learning, and reinforcement
                learning.<br><br>

                Supervised learning: In supervised learning, the machine
                learning algorithm is trained on labeled data, which means the
                data has already been categorized or classified. The algorithm
                learns to make predictions by associating input data with
                correct output data.<br><br>

                Unsupervised learning: In unsupervised learning, the algorithm
                is trained on unlabeled data, which means the data has not been
                categorized or classified. The algorithm learns to identify
                patterns in the data and group similar data together.<br><br>
                Reinforcement learning: In reinforcement learning, the algorithm
                learns by trial and error. It receives feedback in the form of
                rewards or punishments based on its actions, and it adjusts its
                behavior to maximize the reward.<br><br>
            </p><br>
        </div>

            <div class="robotics" id="robotics">
                <h1>Robotics</h1>
                <p>There are many different types of robots, including:</p>
                <p>Robotics is a field of engineering and science that involves
                    the design, construction, and operation of robots. A robot
                    is a machine that is capable of carrying out tasks
                    automatically, with little or no human intervention.<br><br>
                    Robots can be used in a variety of applications, including
                    manufacturing, agriculture, healthcare, transportation, and
                    entertainment. They can be used to perform tasks that are
                    dangerous, dirty, or repetitive, as well as tasks that are
                    too complex or precise for human workers to perform.<br>
                    The field of robotics is interdisciplinary, drawing on
                    expertise from a wide range of areas including mechanical
                    engineering, electrical engineering, computer science,
                    control systems, artificial intelligence, and materials
                    science.</p>

                <p>Industrial robots: These are used in manufacturing and
                    assembly lines to perform tasks such as welding, painting,
                    and handling materials.<br><br>

                    Mobile robots: These are designed to move around in their
                    environment, and can be used for tasks such as exploration,
                    surveillance, and delivery.<br><br>

                    Humanoid robots: These are designed to look and move like
                    humans, and can be used for tasks such as entertainment,
                    education, and social interaction.<br><br>

                    Service robots: These are designed to assist humans in
                    various tasks, such as cleaning, cooking, and personal care.<br><br>
                    Military robots: These are used by the military for tasks
                    such as reconnaissance, bomb disposal, and combat.</p><br>
            
                </div>

            <div class="datascience" id="datascience">
                <h1>Datascience</h1>
                <p>Data science is a field of study that involves using
                    statistical and computational methods to extract insights
                    and knowledge from data. It involves using techniques from
                    various disciplines, such as statistics, machine learning,
                    and computer science, to analyze large and complex datasets.</p>
                <p>The goal of data science is to use data to inform
                    decision-making, solve complex problems, and uncover
                    patterns and insights that can help improve various aspects
                    of our lives. It has applications in many areas, including
                    business, healthcare, finance, social science, and more.</p>
                <p>Data science involves a number of different steps, including:</p>
                <p>Data science is a field of study that involves using
                    statistical and computational methods to extract insights
                    and knowledge from data. It involves using techniques from
                    various disciplines, such as statistics, machine learning,
                    and computer science, to analyze large and complex datasets.
                    The goal of data science is to use data to inform
                    decision-making, solve complex problems, and uncover
                    patterns and insights that can help improve various aspects
                    of our lives. It has applications in many areas, including
                    business, healthcare, finance, social science, and more.<br>
                    Data science involves a number of different steps,
                    including:<br><br>

                    Data collection: Collecting relevant data from various
                    sources, such as databases, APIs, or other sources.<br><br>

                    Data cleaning: Preparing the data for analysis by cleaning,
                    transforming, and processing it.<br><br>

                    Data analysis: Applying statistical and computational
                    methods to analyze the data and identify patterns and
                    insights.<br><br>

                    Data visualization: Creating visual representations of the
                    data to help communicate the findings to others.<br><br>

                    Machine learning: Using machine learning algorithms to build
                    predictive models and make automated decisions based on the
                    data.</p><br>
            
                </div>
                <h3>Links</h3>
                <p>This links are provideing some free features in Youtube that learns</p><br><br>

                <div class="links" id="links">
                {% for link in links%}
                <a href="{{ link.program }}">Python Programing:{{ link.program }}</a><br><br>
                <a href="{{ link.fullstack }}">fullstack:{{ link.fullstack }}</a><br><br>
                <a href="{{ link.cybersecurity }}">cybersecurity:{{ link.cybersecurity }}</a><br><br>
                <a href="{{ link.ai }}">AI:{{ link.ai }}</a><br><br>
                <a href="{{ link.ml }}">ML:{{ link.ml }}</a><br><br>
                <a href="{{ link.robotics }}">RPA:{{ link.robotics }}</a><br><br>
                <a href="{{ link.datascience }}">Datascience:{{ link.datascience }}</a><br><br>
                <h2>-------------------------------------------------------------------------------</h2>
                
            {% endfor %}
            </div>
        </div>

    </body>
</html>
